* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
}

html,
body {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-size: 13px;
  font-family: Arial, sans-serif;
}

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 0;
}

.header ul {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.header ul .header__right--appicon {
  padding: 2.5px;
  vertical-align: middle;
  cursor: pointer;
  opacity: 0.5;
}

.header ul .header__right--appicon:hover {
  opacity: 1;
  background-color: rgba(172, 172, 172, 0.329);
  border-radius: 50%;
}

header a {
  text-decoration: none;
}

.header__right .header__right--button {
  border: none;
  border-radius: 2px;
  background: none;
  width: 70px;
  height: 30px;
  background-color: #4285f4;
  color: #fff;
  padding: 1px 6px;
  font-weight: bold;
  opacity: 1;
}

.header__right .header__right--button:hover {
  background-color: #5997fc;
}

.header__right li {
  margin: 0 10px;
}

.header__right li a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.header__right li a button:hover {
  cursor: pointer;
}

.header__left li {
  margin: 0 10px;
  opacity: 0.8;
}

.header__left li:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.search {
  text-align: center;
}

.search .search-bar {
  padding: 20px 0 0;
  position: relative;
}

.image {
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  margin-top: -125px;
  width: 100%;
  text-align: center;
}

.search .btn {
  padding: 30px 0 0;
}

.btn button.btns {
  border-radius: 4px;
  color: #5f6368;
  border: none;
}

.btn button.btns:hover {
  color: #000;
}

.btn .btn-left {
  margin-right: 8px;
  border: 1px solid #d3d3d3;
  background-color: #f0f0f0;
  width: 140px;
  height: 37px;
}

.btn .btn-right {
  border: 1px solid #d3d3d3;
  background-color: #f0f0f0;
  width: 140px;
  height: 37px;
}

.search p {
  margin: 20px 0 13px;
}

.search .search-bar #search {
  padding: 3px 29px 3px 38px;
  min-width: 33vw;
  height: 42px;
  border-radius: 25px;
  border: 1px solid lightgray;
}

.search .search-bar #search:focus {
  outline: none;
}

.search .search-bar #search:hover {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.search p a {
  color: #000080;
}

.search-bar .magnifier {
  width: 30px;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -5px;
}

.search-bar .microphone {
  width: 14px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
}

footer {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-container {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.location {
  border-bottom: 1px solid #e4e4e4;
  margin-left: 13px;
  height: 41px;
  opacity: 0.8;
}

.lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;
}

.lower ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lower a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 13px;
}

.business li {
  list-style: none;
  opacity: 0.8;
}

.business a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.terms li {
  list-style: none;
  opacity: 0.8;
}

.terms a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.location {
  display: flex;
  align-items: center;
}
