* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

a:visited {
  color: black; /* ! W A R N I N G */
}

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 0;
}

.header ul {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.header ul .header__right--appicon {
  vertical-align: middle;
}

header a {
  text-decoration: none;
}

.header__right .header__right--button {
  border: none;
  background: none;
}

.header__right li {
  margin: 0 10px;
}

.header__right li a:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.header__right li a button:hover {
  cursor: pointer;
}

.header__left li {
  margin: 0 10px;
}

.header__left li:hover {
  border-bottom: 1px solid black;
}

.search {
  text-align: center;
}

.search .search-bar {
  padding: 20px 0 0;
}

.image {
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  margin-top: -125px;
  width: 100%;
  text-align: center;
}

.search .btn {
  padding: 30px 0 0;
}

.btn button.btns {
  border-radius: 4px;
}

.btn .btn-left {
  margin-right: 8px;
  border: 1px solid #d3d3d3;
  background-color: #f0f0f0;
  width: 140px;
  height: 37px;
}

.btn .btn-right {
  border: 1px solid #d3d3d3;
  background-color: #f0f0f0;
  width: 140px;
  height: 37px;
}

.search p {
  margin: 20px 0 13px;
}

.search .search-bar #search {
  padding: 3px 40px 3px 50px;
  width: 34vw;
  height: 35px;
  border-radius: 25px;
  border: 1px solid lightgray;
}

.search .search-bar #search:focus {
  outline: none;
}

.search .search-bar #search:hover {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
